
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
@keyframes slide {
    0%{
        margin-right: -50%;
    }
    25%{
        margin-right: -35%;
    }
    75%{
        margin-right: 15%;
    }
    100%{
        margin-right: 0%;
    }
}
button{
    width: 100%;
    padding: 5px;
    box-shadow: 0px 2px 7px
                2px 1px 5px solid blue;
}
body{
    background: linear-gradient(0deg, #07273b
    ,#2a0538 );
}
a{
    text-decoration: none;
    
}
/*
.threed{
    display: flex;
    justify-self: center;
    padding: 10px 5px;
    background: transparent;
    border: none;
    border-radius: 2px;
    box-shadow: 2px -2px 5px #a96bc0,
                3px -3px 5px #175780,
                4px -4px 5px #a96bc0,
                5px -5px 5px #175780,
                6px -6px 5px #a96bc0,
                7px -7px 5px #175780,
                8px -8px 5px #a96bc0,
                9px -9px 5px #175780,
                -2px 2px 5px #a96bc0,
                -3px 3px 5px #175780,
                -4px 4px 5px #a96bc0,
                -5px 5px 5px #175780,
                -6px 6px 5px #a96bc0,
                -7px 7px 5px #175780,
                -8px 8px 5px #a96bc0,
                -9px 9px 5px #175780;
    margin-bottom: 23px;
}
*/
.top-bar{
    display: flex;
    width: 100%;
    height: 20px;
    justify-content: center;
    margin-top: auto;
    background-color: #07273b ;
    z-index: 999;
}
.top-bar .text{
    display: flex;
    animation: slide 5s 1;
    color: #d6dbdf;
}
.top-bar h2{
    font-size: 12px;

    font-weight: 500;
}
.top-bar span{
    margin-top: 3px;
    margin-left: 20px;
    font-size: 10px;
    font-weight: 300;
}

.Homepage{
    width: 100%;
    height: 100vh;
    border-bottom: 2px solid #7c7575;
    background-image: url("https://www.microgravity.co.in/images/freeroam-banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    backface-visibility: visible;
    
}
.Homepage .logo{
    width: fit-content;
    padding: 5px 0px 0px 20px;
    text-align: center;
    display: flex;
    
}
.Homepage .logo a{
    text-transform: uppercase;
    color: aqua;
    font-weight: 600;
    font-family: sans-serif;
}
.Homepage .logo a span{
    color: #2a0538;
    font-size: 25px;
    margin: 0 20px;
    font-family: sans-serif;
    font-weight: 800;
    transform: skew(20deg);
    font-size: 32px;
    text-shadow: 1px 1px aqua,
                 2px 2px aqua,
                 3px 3px aqua,
                 4px 4px aqua,
                 10px 10px 10px #07002a;

}
.Homepage .logo a p{
    color: #10669b;
}
.banner{

    width: 100%;

    height: 50vh;
    margin: auto;
    justify-content: flex-end;
    align-items: center;
}
.navbar{
    padding: 20px 0px 5px 0px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
}
.navbar a{
    color: #aa9696;
    margin-left: 30px;
    transform: .5s ease;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    padding: 4px;

}
.navbar a:hover{
    color: aliceblue;
    background: #310741;
    border-radius: 5px;

    
}

.banner .content-panel{
    display: flex;
    justify-content: right;

    margin: 50px 0px 10px 0px;
}
.banner .content-panel .content{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 80%;
    justify-content: center;
    align-items: center;
    top: 100;
    left: 100;
}
.banner .content-panel .image{
    width: 50%;
    height: 80%;
    position: relative;

}
.banner .content-panel .image img{
    
    display: inline;
    width: 500px;
    height: 500px;
    right: 0;
    position: absolute;

}

.banner .content-panel .content h1{
    color: #aa9696;
    margin-bottom: 5px;
    text-transform: uppercase;
    /*
    transform: skew(20deg);
    font-size: 32px;
    text-shadow: 1px 1px #020f3a,
                 2px 2px #020f3a,
                 3px 3px #020f3a,
                 4px 4px #020f3a,
                 5px 5px #020f3a,
                 6px 6px #020f3a,
                 7px 7px #020f3a,
                 8px 8px #020f3a,
                 9px 9px #020f3a,
                 10px 10px 10px #07002a,
                 11px 11px 10px #07002a,
                 12px 12px 10px #07002a,
                 13px 13px 10px #07002a,
                 14px 14px 10px #07002a,
                 15px 15px 10px #07002a,
                 16px 16px 10px #07002a;
    */

}
.banner .content-panel .content p{
    max-width: 300px;
    color: #7c7575;
    margin-bottom: 5px;
}
.banner .content-panel .content .btn{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    }
.a-btn{
    border: none;
    background: #2a0538;
    color: #7c7575;
    margin-right: 20px;
    padding: 10px 5px;
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-shadow: 0px 0px 10px #7c7575;
    border-radius: 10px 5px 10px 5px;
    transition: 0.5s ease;

}
.a-btn:hover{
    color: #aa9696;
    background: #07273b;
}
.b-btn{
    border: none;
    background: #07273b;
    color: #7c7575;
    padding: 10px 5px;
    margin-left: 20px;
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-shadow: 0px 0px 10px #7c7575;
    border-radius: 10px 5px 10px 5px;
    transition: 0.5s ease;
}
.b-btn:hover{
    color: #aa9696;
    background: #2a0538;
}
.buttons .b-btn a{
    color: #d6dbdf;
}
.buttons .a-btn a{
    color: #d6dbdf;
}
.banner .content-panel .content .links{
    display: flex;
    gap: 19px;
    margin-top: 10px;
}
.banner .buttons{
    width: 20%;
    display: flex;
    align-items: center;
    margin-right: 10px;
    margin-left: auto;
}
.buttons button{
    background-color: #10669b;
    border-radius: 5px;
}
.banner .content-panel .content .txt{
    margin-top: 20px;
    font-size: 12px;
    font-weight: 300;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #aa9696;
}
.banner .content-panel .content .links a i{
    background: #2a0538;
    padding: 10px;
    border-radius: 50%;
    color: #aa9696;
    transition: 0.4s ease;

}
.banner .content-panel .content .links a i:hover{
    background: #aa9696;
    color: #2a0538;
    box-shadow: 0px 0px 5px #7c7575;
}
.Games-container{
    width: 100%;
    height: fit-content;
    margin-bottom: 50px;
    border-bottom: 2px solid #7c7575;
    
}
.Games-container header{
    font-family: sans-serif;
    font-weight: 700;
    font-size: 25px;
    color: #aa9696;
    align-items: center;
    text-align: center;
    padding: 20px;
}
.Games-container .begin-cont{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-left: 20px;
    cursor: pointer;
    
}
.Games-container .begin-cont .Vr{
    width: 300px;
    padding: 5px;
    transition: 0.7s ease;
    border-radius: 10px;
}

.Games-container .begin-cont .Vr:hover{
    transform: scale(1.4);
    box-shadow: 0px 0px 10px 0px #7c7575;
    backdrop-filter: blur(20px);
    z-index: 999;

}

.Games-container .begin-cont .Vr .image img{
    width: 300px;
    height: 200px;
    border-radius: 20px;
    border-bottom: 5px;
}
.Games-container .begin-cont .Vr .content h2{
    font-size: 17px;
    font-weight: 500;
    font-family: sans-serif;
    color: #d6dbdf;
    border-bottom: 5px;
}

.Games-container .begin-cont .Vr .content p{
    font-size: 14px;
    font-weight: 300;
    color: #7c7575;
}
.Games-container .begin-cont .Vr .content button{
    margin: 10px 0px 5px 0px;
}
.vr{
    display: flex;
    flex-direction: column;
}
.vr i{
    width: fit-content;
    color: #10669b;;
    cursor: pointer;
    margin-left: 40px;
    padding-top: 10px;
    transition: .7s ease;
}
.vr i:hover{
    color: #d6dbdf;
    border-radius: 2px;
}

@media(max-width:900px){
    .content-panel{
        transform: scale(.7);
    }
}
@media(max-width:800px){
    .content-panel{
        margin: 0;
        padding: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .content-panel .image{
        transform: scale(.6);
    }
    body,.navbar,.banner{
        margin: 0;
        padding: 0;
    }
    .banner .buttons{
        display: none;
    }
    .banner .vr{
        display: none;
    }
    .vr{
        
        transform: scale(0.6);
    }
    .begin-cont{
        justify-content: center;
        align-items: center;
    }
}


